.home,
.navbar,
.divider-home {
  background: rgb(240, 197, 246);
  background: linear-gradient(
    90deg,
    rgba(240, 197, 246, 1) 0%,
    rgba(200, 209, 255, 1) 48%,
    rgba(240, 197, 246, 1) 100%
  );
}

section {
  padding: 5rem 8rem;
  background-color: #fff;
}

#welcomepage {
  background-color: transparent;
  padding: 0;
}

.section-title {
  color: #2c2c2c;
  font-family: "Organo";
  font-size: x-large;
  font-weight: 200;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 8rem;
}

.navbar img {
  object-fit: contain;
}

.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style-type: none;
  font-family: "Source Code Pro";
  padding: 1rem;
}

.navbar-items li a {
  color: #2c2c2c;
  text-decoration: none;
}

.navbar-items li a:hover {
  color: #f72585;
  transition: 0.3s ease-in-out;
}

.aracomp-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
}

#title {
  padding-top: 11rem;
  padding-bottom: 2rem;
  font-weight: 500;
  font-family: "Organo";
  text-align: center;
  color: #2c2c2c;
  font-size: 4.5rem;
}

#description {
  padding: 0 8rem;
  font-family: "Source Code Pro";
  font-size: 1.25rem;
  color: #7209b7;
  padding-bottom: 1rem;
}

.aracomp-button {
  z-index: 10;
  padding-top: 4rem;
  text-align: center;
}

.aracomp-button button {
  border-radius: 8px;
  color: #ffffff;
  background-color: #f72585;
  font-family: "Source Code Pro";
  font-size: 1rem;
  padding: 0.75rem 3rem;
  border: none;
  cursor: pointer;
}

.aracomp-button button:hover {
  background-color: #ff64ab;
  transition: 0.2s ease-in-out;
}

.aracomp-button button:active {
  transition: background-color 0.2s ease-in-out;
  background-color: #7209b7;
}

.divider-home {
  border-bottom-right-radius: 100%;
  width: 100vw;
  height: 30vh;
  margin-bottom: 50px;
}

.card-header {
  text-align: center;
}

.icon {
  padding: 1.5rem;
  position: relative;
}

.icon-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #4361ee;
}

.icon-holder {
  stroke: #4361ee;
  stroke-width: 2px;
  transform: scale(1.2);
}

#aracomp-title {
  color: #4361ee;
}

.card-area {
  display: flex;
  flex-direction: column;
}

.card {
  padding-top: 2rem;
}

.card:hover .speaker-name {
  color: #7209b7;
}

.card:hover .card-line {
  border: #7209b7 1px solid;
}

#speakers .card:first-child {
  margin-top: 3rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.card-content-reversed {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5rem;
}

.card-content-reversed .card-text-area {
  margin-left: 5rem;
}

.card-text-area {
  width: 50%;
  float: right;
}

.card-image-area img {
  width: 20rem;
  border-radius: 100%;
}

.speaker-name {
  font-family: "Source Code Pro";
  font-size: 2rem;
  font-weight: 500;
  color: #4361ee;
  transition: 0.2s all ease-in-out;
}

.speaker-title,
.speaker-date {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 300;
  color: #7209b7;
}

.speaker-date {
  padding-top: 5px;
}

.speaker-description {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 300;
  padding-top: 1rem;
  color: #2c2c2c;
}
.card-line {
  width: 100%;
  border: #4361ee 1px solid;
}

#about-description {
  padding-top: 20px;
  font-family: "Source Code Pro";
}

#content {
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
}

#subscribe {
  padding: 4rem;
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#classes {
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
}
.courses-cards {
  font-family: "Source Code Pro";
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}
.course-card-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #4361ee;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  padding: 2rem 2rem 0rem 2rem;
}
.course-card-top {
  padding: 1rem 0rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #4361ee;
}
.course-card-title {
  padding-bottom: 1rem;
  font-size: larger;
  color: #4361ee;
}
.course-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.course-info img {
  width: 1.5rem;
}

.course-card-infos {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.course-card-description {
  padding: 1rem 0;
}
.course-card-instructors {
  border-top: 2px solid #4361ee;
  padding: 1rem 0;
  margin-top: auto;
  color: #4361ee;
}
.course-instructor-name {
  color: #2c2c2c;
}
.course-instructor-area {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
.course-instructor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.course-instructor-picture {
  width: 3rem;
  height: 3rem;
  background-color: #2c2c2c;
  border-radius: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  object-fit: contain;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  font-family: "Source Code Pro";
  color: #4361ee;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  width: 258px;
  border: 2px solid #4361ee;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.content-card h3 {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.content-card p {
  padding: 10px 15px 25px 15px;
  color: #2c2c2c;
}
.card-info-description {
  text-align: center;
  font-weight: 500;
}

.content-card img {
  display: block;
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
}

.content-card:hover,
.content-card:hover .card-title {
  color: #f72585;
  border-color: #f72585;
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon {
  transform: translateY(-2px);
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon-element {
  fill: #f72585;
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon-holder {
  stroke: #f72585;
  transition: 0.4s ease-in-out;
}

/* Fale Conosco */

#contact-us {
  font-family: "Source Code Pro";
}

#contact {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

#contact-info {
  width: 40%;
}

#instagram {
  display: flex;
  align-items: center;
}

#contact-form {
  width: 50%;
  border: 1px solid #7209b7;
  border-radius: 32px;
  padding: 30px;
}

#fields {
  display: grid;
}

#fields input,
#fields textarea {
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 14px;
}

#fields input::placeholder,
#fields textarea::placeholder {
  color: #7e94fa;
  opacity: 1;
  font-family: "Source Code Pro";
}

#fields input:focus,
#fields textarea:focus {
  outline: none;
}

#credentials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#message-field {
  margin-top: 10px;
  resize: none;
}

#submit-button {
  float: right;
}

/* Cronograma do evento */
.days {
  display: flex;
  padding-top: 2rem;
}

.day {
  padding-top: 1.5rem;
  font-family: "Source Code Pro";
  overflow: hidden;
}

.day h3 {
  padding-bottom: 15px;
}

.day-timeline {
  padding-left: 12px;
  border-left-style: dashed;
  border-left-color: #2c2c2c;
  border-left-width: 2px;
  height: 100%;
}

.day-timeline > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-bottom: 15px;
  font-size: 95%;
}

.time > p {
  padding-right: 50px;
}

.day-timeline .content {
  width: 100%;
  border: solid 1px black;
  border-radius: 15px;
  padding: 25px 15px;
}

.other .time {
  color: #2c2c2c;
}

.other .content {
  border: solid 1px #2c2c2c;
}

.other .content p:first-child {
  color: #2c2c2c;
}

.course .time {
  color: #4361ee;
}

.course .content {
  border: solid 1px #4361ee;
}

.course .content p:first-child {
  color: #4361ee;
}

.talk .time {
  color: #f72585;
}

.talk .content {
  border: solid 1px #f72585;
}

.talk .content p:first-child {
  color: #f72585;
}

.mesa-redonda .time {
  color: #7209b7;
}

.mesa-redonda .content {
  border: solid 1px #7209b7;
}

.mesa-redonda .content p:first-child {
  color: #7209b7;
}

#sponsors, #partners {
  padding: 4rem;
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsors-logo, .partners-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors-logo img, .partners-logo img {
  width: 25%;
}

@media (max-width: 900px) {
  .navbar-items {
    display: none;
  }

  #title {
    font-size: 2rem;
  }

  #description {
    padding: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .aracomp-button button {
    padding: 0.6rem 10px;
  }

  section {
    padding: 2rem 3rem;
  }

  .section-title {
    text-align: center;
  }

  #aracomp-title {
    font-size: 25px;
  }

  #about-description p:last-child {
    margin-bottom: 30px;
  }

  #o-que-teremos-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  .content-card {
    margin-bottom: 25px;
    width: auto;
  }

  #contact {
    flex-wrap: wrap;
  }

  #fale-conosco-title {
    font-size: 25px;
  }

  #contact-info,
  #contact-form {
    width: auto;
    margin: 0 auto;
  }

  #credentials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #credentials input {
    width: 100%;
  }

  #instagram {
    margin-bottom: 15px;
  }

  .card .card-content {
    flex-direction: row-reverse;
  }

  .card-content-reversed .card-text-area {
    margin-left: 0;
  }

  .card-content-reversed {
    justify-content: space-between;
  }

  .card-image-area img {
    width: 150px;
  }

  .divider-home {
    border-bottom-right-radius: 70%;
  }

  .card-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .card-header .card-title {
    text-align: start;
  }

  .card-info-description {
    text-align: start;
  }

  #timeline h1 {
    font-size: 25px;
  }

  .days {
    flex-wrap: wrap;
  }

  #sponsors .section-title, #partners .section-title {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .sponsors-logo img, .partners-logo img {
    width: 100%;
  }
}
