.home-content {
  z-index: 1;
}

.gradient {
  z-index: -1;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  filter: blur(180px);
}

#blob {
  min-width: 45%;
}

section {
  padding: 1.5rem 8rem;
  background-color: #fff;
}

#welcomepage {
  background-color: transparent;
  padding: 0;
}

.section-title {
  color: #2c2c2c;
  font-family: "Organo";
  font-size: x-large;
  font-weight: 200;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 8rem;
}

.navbar img {
  object-fit: contain;
}

.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style-type: none;
  font-family: "Source Code Pro";
  padding: 1rem;
}

.navbar-items li a {
  color: #2c2c2c;
  text-decoration: none;
}

.navbar-items li a:hover {
  color: #f72585;
  transition: 0.3s ease-in-out;
}

.aracomp-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
}

#title {
  padding-top: 11rem;
  padding-bottom: 2rem;
  font-weight: 500;
  font-family: "Organo";
  text-align: center;
  color: #2c2c2c;
  font-size: 4.5rem;
}

#description {
  padding: 0 8rem;
  font-family: "Source Code Pro";
  font-size: 1.25rem;
  color: #7209b7;
  padding-bottom: 1rem;
}

.aracomp-button {
  z-index: 10;
  padding-top: 4rem;
  text-align: center;
}

.aracomp-button button {
  border-radius: 8px;
  color: #ffffff;
  background-color: #f72585;
  font-family: "Source Code Pro";
  font-size: 1rem;
  padding: 0.75rem 3rem;
  border: none;
  cursor: pointer;
}

.aracomp-button button:hover {
  background-color: #ff64ab;
  transition: 0.2s ease-in-out;
}

.aracomp-button button:active {
  transition: background-color 0.2s ease-in-out;
  background-color: #7209b7;
}

.divider-home {
  display: block;
  z-index: 0;
  background-image: url("../img/elements/Divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  width: 100vw;
  height: 35vh;
}

.icon {
  padding: 1.5rem;
  position: relative;
}

.icon-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #4361ee;
}

.icon-holder {
  stroke: #4361ee;
  stroke-width: 2px;
  transform: scale(1.2);
}

#aracomp-title {
  color: #4361ee;
}

.card-area {
  display: flex;
  flex-direction: column;
}

.card {
  padding-top: 2rem;
}

.card:hover .speaker-name {
  color: #7209b7;
}

.card:hover .card-line {
  border: #7209b7 1px solid;
}

#speakers .card:first-child {
  margin-top: 3rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.card-content-reversed {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5rem;
}

.card-content-reversed .card-text-area {
  margin-left: 5rem;
}

.card-text-area {
  width: 50%;
  float: right;
}

.card-image-area img {
  width: 20rem;
  border-radius: 100%;
}

.speaker-name {
  font-family: "Source Code Pro";
  font-size: 2rem;
  font-weight: 500;
  color: #4361ee;
  transition: 0.2s all ease-in-out;
}
.speaker-title,
.speaker-date {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 300;
  color: #7209b7;
}

.speaker-date {
  padding-top: 5px;
}

.speaker-description {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 300;
  padding-top: 1rem;
  color: #2c2c2c;
}
.card-line {
  width: 100%;
  border: #4361ee 1px solid;
}
.blue1 {
  position: absolute;
  right: -5%;
  bottom: -20%;
  animation: blobblue1 10s linear infinite;
}
.blue2 {
  position: absolute;
  right: 30%;
  bottom: 30%;
  animation: blobblue2 10s linear infinite;
}
.pink1 {
  position: absolute;
  right: -5%;
  bottom: 50%;
  animation: blobpink1 10s linear infinite;
}
.pink2 {
  position: absolute;
  right: 70%;
  bottom: -20%;
  animation: blobpink2 10s linear infinite;
}
.purple1 {
  position: absolute;
  right: 75%;
  bottom: 45%;
  animation: blobpurple1 10s linear infinite;
}
.purple2 {
  position: absolute;
  right: 50%;
  bottom: -15%;
  animation: blobpurple2 10s linear infinite;
}

@keyframes blobblue1 {
  0% {
    right: -5%;
    bottom: -20%;
  }
  25% {
    right: 75%;
    bottom: -30%;
  }
  50% {
    right: -10%;
    bottom: -30%;
  }
  75% {
    right: -10%;
    bottom: -30%;
  }
  100% {
    right: -5%;
    bottom: -20%;
  }
}

@keyframes blobblue2 {
  0% {
    right: 30%;
    bottom: 30%;
  }
  25% {
    right: 0%;
    bottom: -30%;
  }
  50% {
    right: 70%;
    bottom: 40%;
  }
  75% {
    right: 40%;
    bottom: -25%;
  }
  100% {
    right: 30%;
    bottom: 30%;
  }
}

@keyframes blobpink1 {
  0% {
    right: -5%;
    bottom: 50%;
  }
  25% {
    right: -10%;
    bottom: 30%;
  }
  50% {
    right: -15%;
    bottom: 40%;
  }
  75% {
    right: -10%;
    bottom: 35%;
  }
  100% {
    right: -5%;
    bottom: 50%;
  }
}
@keyframes blobpink2 {
  0% {
    right: 70%;
    bottom: -20%;
  }
  25% {
    right: 10%;
    bottom: 45%;
  }
  50% {
    right: 40%;
    bottom: -10%;
  }
  75% {
    right: 35%;
    bottom: 50%;
  }
  100% {
    right: 70%;
    bottom: -20%;
  }
}
@keyframes blobpurple1 {
  0% {
    right: 75%;
    bottom: 45%;
  }
  25% {
    right: 40%;
    bottom: 35%;
  }
  50% {
    right: 20%;
    bottom: 45%;
  }
  75% {
    right: 75%;
    bottom: -15%;
  }
  100% {
    right: 75%;
    bottom: 45%;
  }
}
@keyframes blobpurple2 {
  0% {
    right: 50%;
    bottom: -15%;
  }
  25% {
    right: 75%;
    bottom: 55%;
  }
  50% {
    right: 80%;
    bottom: 5%;
  }
  75% {
    right: 70%;
    bottom: -4%;
  }
  100% {
    right: 50%;
    bottom: -15%;
  }
}

#about-description {
  padding-top: 20px;
  font-family: "Source Code Pro";
}

#content {
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
}
#subscribe {
  padding: 4rem;
  background: linear-gradient(0.25turn, #bac5f4, #f0c5f6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 50px;
  font-family: "Source Code Pro";
  color: #4361ee;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  width: 258px;
  border: 2px solid #4361ee;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.content-card h3 {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.content-card p {
  padding: 10px 15px 25px 15px;
  color: #2c2c2c;
}
.card-info-description {
  text-align: center;
  font-weight: 500;
}

.content-card img {
  display: block;
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
}

.content-card:hover,
.content-card:hover .card-title {
  color: #f72585;
  border-color: #f72585;
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon {
  transform: translateY(-2px);
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon-element {
  fill: #f72585;
  transition: 0.4s ease-in-out;
}
.content-card:hover .icon-holder {
  stroke: #f72585;
  transition: 0.4s ease-in-out;
}

/* Fale Conosco */

#contact-us {
  font-family: "Source Code Pro";
}

#contact {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

#contact-info {
  width: 40%;
}

#instagram {
  display: flex;
  align-items: center;
}

#contact-form {
  width: 50%;
  border: 1px solid #7209b7;
  border-radius: 32px;
  padding: 30px;
}

#fields {
  display: grid;
}

#fields input,
#fields textarea {
  background-color: #f0f0f0;
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 14px;
}

#fields input::placeholder,
#fields textarea::placeholder {
  color: #7e94fa;
  opacity: 1;
  font-family: "Source Code Pro";
}

#fields input:focus,
#fields textarea:focus {
  outline: none;
}

#credentials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#message-field {
  margin-top: 10px;
  resize: none;
}

#submit-button {
  float: right;
}

@media (max-width: 900px) {
  .navbar-items {
    display: none;
  }

  #title {
    font-size: 2rem;
  }

  #description {
    padding: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .aracomp-button button {
    padding: 0.6rem 10px;
  }

  section {
    padding: 0.2rem 2rem;
  }

  #aracomp-title {
    font-size: 25px;
  }

  #about-description p:last-child {
    margin-bottom: 30px;
  }

  #o-que-teremos-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  .content-card {
    margin-bottom: 25px;
    width: auto;
  }

  #contact {
    flex-wrap: wrap;
  }

  #fale-conosco-title {
    font-size: 25px;
  }

  #contact-info,
  #contact-form {
    width: auto;
    margin: 0 auto;
  }

  #credentials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #credentials input {
    width: 100%;
  }

  #instagram {
    margin-bottom: 15px;
  }

  .card .card-content {
    flex-direction: row-reverse;
  }

  .card .card-image-area img {
    width: 100px;
  }
}
