.home {
  margin: 20px 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar img {
  object-fit: contain;
}

.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style-type: none;
  font-family: "Livemono";
  padding: 15px;
}

.navbar-items li a {
  color: #2c2c2c;
  text-decoration: none;
}

.navbar-items li a:hover {
  color: #f72585;
  transition: 0.3s;
}

.aracomp-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#title {
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: "Organo";
  font-size: 50px;
}

#description {
  font-family: "Livemono";
  color: #7209b7;
  padding-bottom: 10px;
}

.learn-more-button {
  padding-top: 10px;
  text-align: center;
}

.learn-more-button button {
  border-radius: 8px;
  color: #ffffff;
  background-color: #f72585;
  font-family: "Livemono";
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.learn-more-button button:hover {
  background-color: #ff64ab;
  transition: 0.3s;
}

.learn-more-button button:active {
  transition: background-color 0.2s ease-in-out;
  background-color: #7209b7;
}
